.patients-frame{
	.tabs-top {
		top: 0px;
	}
}

.patient-page{
	position: relative;
	.sidebar-patient{
		//display:none;
	}
}

.directory-actions{
	margin:0px 0px 10px;
}

@media (min-width: 650px) {
	.patient-page{
		.sidebar-patient{
			display:block;
			position: fixed;
			top: 10px;
			left:10px;
			width: 170px;
		}
		.content-patient{
			padding: 10px;
			padding-left: 200px;
		}
	}

	.directory-actions{
		position:fixed;
		z-index: 100;
		top: 10px;
		right: 10px;
		width: 190px;
	}
	.directory-content{
		padding-right: 200px;
	}
}