<a ng-click="show()" class="button button-block">
	{{label}}
	<button ng-if="!data" class="button button-clear icon ion-plus"></button>
	<button ng-if="data" class="button button-clear icon ion-edit"></button>
</a>
<div ng-if="selectMultiple" class="list">
	<div ng-repeat="datum in data" class="item item-button-right">
		{{getValueLabel(datum, choices)}}
		<a class="button icon ion-close"></a>
	</div>
</div>
<div ng-if="!selectMultiple && data" class="value">
	{{getValueLabel(data, choices)}}
</div>