# temp files
.DS_Store
.tmp
.sass-cache

# npm & bower
/node_modules/
/app/bower_components/

# ionic fonts
/app/main/assets/fonts/ionicons.*

# cordova
/platforms/
/plugins/
/resources/

# build folder
/www/**

# IDE
*.sublime-project
*.sublime-workspace

# Config Files
/app/main/constants/env-production.json
/app/*/constants/config-const.js