
/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/

@import "../../bower_components/ionic/scss/_variables.scss";

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;

$font-size-base: 				  18px;
$font-size-large:                 26px;
$font-size-small:                 14px;

$button-default-bg:               $button-dark-bg;
$button-default-text:             $button-dark-text;
$button-default-border:           $button-dark-border;
$button-default-active-bg:        $button-dark-active-bg;
$button-default-active-border:    $button-dark-active-border;

// The path for our ionicons font files, relative to the built & temporary main.css
$ionicons-font-path: "../assets/fonts" !default;

// Include all of Ionic
@import "../../bower_components/ionic/scss/ionic";

// TODO: import scss files from other modules
// @import "../../<module>/styles"

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
	width: 100%;
}

.bar-header.tabs-top{
	top: 0px;
}

.has-header{
	top: 49px;
}

.button, button{
	span {
		display:none;
	}
}