.button-edit{
	float:none;
	display:block;
	width:100%;
}

.form-actions:after {
	content:'';
    display:block;
    clear: both;
}
.form-actions{
	margin:10px;
}

.item.item-form{
	margin: 0px 0px 10px;
}

@media (min-width: 400px) {
	.button-edit{
		width:auto;
		float:right;
		span.collapse {
			display:none;
		}
	}
	.field-text{
		.button-edit{
			float:left;
		}
		.inputs{
			margin-left:15px;
			float:left;
		}
	}
	.units{
		float:right;
	}
}

@media (min-width: 800px) {
	.button-edit span.collapse{
		display: inline;
	}
}