.form-actions:after {
	content:'';
    display:block;
    clear: both;
}
.form-actions{
	margin:10px;
}

.button.button-edit{
	width:auto;
	float:left;
	margin-right: 10px;
	span.collapse {
		display:none;
	}
}

.button.button-help{
	position:absolute;
	top:10px;
	left:-10px;
}

.help-text {
	padding:10px;
	background-color: #dfdfdf;
	white-space: normal;
}

.field-text{
	.input-label{
		padding: 0px;
	}
	input{
		font-size:20px !important;
	}
}

.units{
	float:right;
	margin-left:20px;
}

.item.item-form{
	margin: 0px 0px 10px;
}


@media (min-width: 800px) {
	.button-edit span.collapse{
		display: inline;
	}
}