  <ion-side-menus title="{{vitals.patient.first_name}} {{vitals.patient.last_name}}" ng-controller="VitalsAddCtrl as vitals">
    <!-- Center content -->
    <ion-side-menu-content>
      <ion-nav-bar class="bar-stable nav-title-slide-ios7 bar-positive">
        <ion-nav-buttons side="left">
          <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
          <button ui-sref="patient.vitals({id:vitals.patient._id})" menu-toggle="right" class="button button-icon icon ion-home"></button>
        </ion-nav-buttons>
      </ion-nav-bar>
      <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-side-menu-content>
    <!-- Left menu -->
    <ion-side-menu expose-aside-when="large" side="left">
      <ion-content>
        <h1>{{vitals.patient.first_name}} {{vitals.patient.last_name}}</h1>
        <button class="button button-block" ui-sref="patient.vitals({id:vitals.patient._id})">Done</button>
        <ion-list>
          <a ui-sref="vitals-new.field({type:'height'})" ui-sref-active="active" class="item item-icon-right" >
            Height
            <i ng-if="!vitals.isSaved('height')" class="icon ion-android-checkbox-outline-blank"></i>
            <i ng-if="vitals.isSaved('height')" class="icon ion-android-checkbox-outline"></i>
          </a>
          <a ui-sref="vitals-new.field({type:'weight'})" ui-sref-active="active" class="item item-icon-right">
            Weight
            <i ng-if="!vitals.isSaved('weight')" class="icon ion-android-checkbox-outline-blank"></i>
            <i ng-if="vitals.isSaved('weight')" class="icon ion-android-checkbox-outline"></i>
          </a>
          <a ui-sref="vitals-new.field({type:'temprature'})" ui-sref-active="active" class="item item-icon-right" >
            Temprature
            <i ng-if="!vitals.isSaved('temprature')" class="icon ion-android-checkbox-outline-blank"></i>
            <i ng-if="vitals.isSaved('temprature')" class="icon ion-android-checkbox-outline"></i>
          </a>
          <a ui-sref="vitals-new.field({type:'blood-pressure'})" ui-sref-active="active" class="item item-icon-right" >
            Blood Pressure
            <i ng-if="!vitals.isSaved('blood-pressure')" class="icon ion-android-checkbox-outline-blank"></i>
            <i ng-if="vitals.isSaved('blood-pressure')" class="icon ion-android-checkbox-outline"></i>
          </a>
        </ion-list>
      </ion-content>
    </ion-side-menu>

  </ion-side-menus>