<div class="list">
  <div class="item">
    <h3>Pregnant Mothers Survey</h3>
  </div>
  <div class="item">
    <div class="list list-inset">
      <div class="item item-divider">Have you had any Antenatal (ANC) check-ups till date? If yes</div>
      <div class="item item-stacked-label">
        <span class="label">How many?</span>
        <input type="number" />
      </div>
      <div class="item item-stacked-label">
        <span class="label">Where?</span>
        <input type="text" />
      </div>
    </div> 
  </div>
  <div class="item">
    <div class="list list-inset">
      <div class="item item-divider">Were any of the following done in the ANC?</div>
      <div class="item item-checkbox">
       <label class="checkbox">
         <input type="checkbox">
       </label>
       Blood Pressure check
      </div>
      <div class="item item-checkbox">
       <label class="checkbox">
         <input type="checkbox">
       </label>
       Weight measurement
      </div>
      <div class="item item-checkbox">
       <label class="checkbox">
         <input type="checkbox">
       </label>
       Blood test
      </div>
      <div class="item item-checkbox">
       <label class="checkbox">
         <input type="checkbox">
       </label>
       Urine test
      </div>
      <div class="item item-checkbox">
       <label class="checkbox">
         <input type="checkbox">
       </label>
       Abdominal Examination
      </div>
      <div class="item item-checkbox">
       <label class="checkbox">
         <input type="checkbox">
       </label>
       TT injection
      </div>
      <div class="item item-checkbox">
       <label class="checkbox">
         <input type="checkbox">
       </label>
       IFA Tablets issued
      </div>
    </div>
  </div>
  <a ui-sref="tabs.surveys.page3" class="item button button-block icon-right ion-chevron-right">Next</a>
</div>