<div class="list">
  <div class="item">
    <h3>Pregnant Mothers Survey</h3>
  </div>
  <div class="item item-stacked-label">
    <span class="label">Number of previous pregnancies</span>
    <input type="number" />
  </div>
  <div class="item">
    <div class="list list-inset">
      <div class="item item-divider">Number of living children</div>
      <div class="item item-input">
        <span class="label">Male</span>
        <input type="number" />
      </div>
      <div class="item item-input">
        <span class="label">Female</span>
        <input type="number" />
      </div>
    </div> 
  </div>
  <div class="item item-stacked-label">
    <span class="label">History of previous still births or abortions</span>
    <input type="number" />
  </div>
  <div class="item">
    <span>How was your last childbiths?</span>
    <div class="list list-inset">
      <div class="item item-divider">How was your last childbirth?</div>
      <label class="item item-radio">
          <input type="radio" value="normal" name="group" />
          <div class="item-content">Normal</div>
          <i class="radio-icon ion-checkmark"></i>
      </label>
      <label class="item item-radio">
          <input type="radio" value="premature" name="group" />
          <div class="item-content">Premature</div>
          <i class="radio-icon ion-checkmark"></i>
      </label>
    </div>
  </div>
  <div class="item">
    <span>Type of delivery</span>
    <div class="list list-inset">
      <div class="item item-divider">Type of delivery</div>
      <label class="item item-radio">
          <input type="radio" value="normal" name="lastDelivery" />
          <div class="item-content">Normal</div>
          <i class="radio-icon ion-checkmark"></i>
      </label>
      <label class="item item-radio">
          <input type="radio" value="premature" name="lastDelivery" />
          <div class="item-content">Caesarean</div>
          <i class="radio-icon ion-checkmark"></i>
      </label>
    </div>
  </div>
  <div class="item item-stacked-label">
    <span class="label">Weight of the child at birth</span>
    <input type="number" />
  </div>
  <a ui-sref="tabs.surveys.page2" class="item button button-block icon-right ion-chevron-right">Next</a>
</div>