<ion-tabs class="tabs-positive tabs-icon-only">

  <ion-tab title="Home" href="#/tab/main" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
    <ion-nav-view name="tabs-main"></ion-nav-view>
  </ion-tab>

  <ion-tab title="About" href="#/tab/directory" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
    <ion-nav-view name="tabs-patients"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Settings" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
    <!-- Tab 3 content -->
  </ion-tab>

</ion-tabs>