<ion-tabs class="tabs-positive tabs-icon-only">

  <ion-tab title="Home" href="#/tab/main" icon-on="ion-home" icon-off="ion-home">
    <ion-nav-view name="tabs-main"></ion-nav-view>
  </ion-tab>

  <ion-tab title="About" href="#/tab/directory" icon-on="ion-ios-people" icon-off="ion-ios-people">
    <ion-nav-view name="tabs-directory"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Settings" href="#/tab/patient" icon-on="ion-plus" icon-off="ion-plus">
    <ion-nav-view name="tabs-patient"></ion-nav-view>
  </ion-tab>

</ion-tabs>