<div class="list">
	<div class="card list">
		<label class="item item-input item-stacked-label">
			<span class="input-label">First Name</span>
			<input type="text" id="first-name" name="first-name" ng-model="patient.first_name" />
		</label>
		<label class="item item-input item-stacked-label">
			<span class="input-label">Last Name</span>
			<input type="text" id="last-name" name="last-name" ng-model="patient.last_name" />
		</label>
		 <label class="item item-input item-stacked-label">
			<span class="input-label">Mobile Number</span>
			<input type="text" id="mobile" name="mobile" ng-model="patient.mobile" />
		</label>
		<label class="item item-input item-stacked-label">
			<span class="input-label">Date of Birth</span>
			<input type="date" name="birthday" ng-model="birthday" />
		</label>
	</div>
	<div class="card list">
		<div class="item item-divider">Gender</div>
		  <label class="item item-radio">
		    <input type="radio" name="gender" ng-model="patient.gender" value="male">
		    <div class="item-content">
		      Male
		    </div>
		    <i class="radio-icon ion-checkmark"></i>
		  </label>
		  <label class="item item-radio">
		    <input type="radio" name="gender" ng-model="patient.gender" value="female">
		    <div class="item-content">
		      Female
		    </div>
		    <i class="radio-icon ion-checkmark"></i>
		  </label>
	</div>
	<!--
	<div class="card list">
		<div class="item item-divider">Date of Birth</div>
			<div class="row responsive-sm">
				<div class="col">
					 <label class="item item-input item-stacked-label">
						<span class="input-label">Day</span>
						<input type="text" name="birthday.day" ng-model="birthday.day" />
					</label>			
				</div>
				<div class="col">
					 <label class="item item-input item-stacked-label">
						<span class="input-label">Month</span>
						<input type="text" id="mobile" name="birthday.month" ng-model="birthday.month" />
					</label>			
				</div>
				<div class="col">
					 <label class="item item-input item-stacked-label">
						<span class="input-label">Year</span>
						<input type="text" name="birthday.year" ng-model="birthday.year" />
					</label>			
				</div>
			</div>
		</div>
	</div>
	-->
	<div class="item">
		<button class="button button-block" ng-click="save({patient:patient})">
			<span ng-if="!patient._id">Register</span>
			<span ng-if="patient._id">Save</span>
		</button>
	</div>
</div>