<ion-content>
	<ion-header class="bar-subheader bar-header bar-stable">
		<div ng-if="!searching"  class="button-bar">
			<a ng-click="startSearch()" class="button">
				<i class="icon ion-search"></i>
				Search
			</a>
			<a ui-sref="patients.register" class="button">
				<i class="icon ion-plus"></i>
				New Patient
			</a>
		</div>
		<div ng-if="searching" class="bar bar-header item-input-inset">
		  <label class="item-input-wrapper">
		    <i class="icon ion-ios-search placeholder-icon"></i>
		    <input type="search" ng-model="query.text" placeholder="Search">
		  </label>
		  <button ng-click="clearSearch()" class="button button-clear">
		    Cancel
		  </button>
		</div>
	</ion-header>
	<div class="list">
		<a ng-repeat="patient in records" class="item list-item" ui-sref="patients.single.summary({patient_id:patient._id})" >
		{{patient.name}} ({{patient._id}})
		</a>
	</div>
</ion-content>