<ion-view>
	<ion-content>
		<div class="list">
			<a ng-repeat="thread in threads" class="item item-icon-right item-thread" ui-sref="patients.single.form({patient_id:thread.patient_id, field_id: thread._id})" ng-click="go_to_field(thread._id)">
				<i class="icon ion-chevron-right"></i>
				{{thread.patient_id}}
				<div class="title">{{thread._id}}</div>
				<div class="meta meta-date">Updated {{thread.date_modified | timeAgo}}</div>
				<div class="meta meta-participants"># Participants</div>
				<div class="meta meta-messages">{{thread.messages.length}} Messages</div>
			</a>
		</div>
	</ion-content>
</ion-view>