<ion-view view-title="Register Patient">
 	<ion-content>
 		<label class="item item-input">
 			<span class="input-label">First Name</span>
 			<input type="text" id="first-name" name="first-name" value="{{patient.first_name}}" />
 		</label>
 		<label class="item item-input">
 			<span class="input-label">Last Name</span>
 			<input type="text" id="last-name" name="last-name" value="{{patient.last_name}}" />
 		</label>
 		<input type="submit" class="btn" value="register" />
	</ion-content>
</ion-view>