<ion-view view-title="Register Patient">
 	<ion-content>
 		<div class="list">
 		<label class="item item-input item-stacked-label">
 			<span class="input-label">First Name</span>
 			<input type="text" id="first-name" name="first-name" ng-model="patient.first_name" />
 		</label>
 		<label class="item item-input item-stacked-label">
 			<span class="input-label">Last Name</span>
 			<input type="text" id="last-name" name="last-name" ng-model="patient.last_name" />
 		</label>
 		<button class="button button-block" ng-click="register.addPatient(patient)">Register</button>
 		</div>
	</ion-content>
</ion-view>