<ion-view class="patients-frame">
	<div network-status class="tabs tabs-top tabs-icon-top tabs-positive">
	  <a ui-sref="logout" class="tab-item">
	  	<i class="icon ion-settings"></i>
	  	Logout
	  </a>
	  <a ui-sref="patients.messages" class="tab-item">
	    <i class="icon ion-chatboxes"></i>
	    Messages
	  </a>
	  <a ui-sref="patients.directory" ui-sref-active="active" class="tab-item">
	    <i class="icon ion-ios-people"></i>
	    Home
	  </a>
	  <a ui-sref="patients.register" ui-sref-active="active" class="tab-item">
	    <i class="icon ion-person-add"></i>
	    New Patient
	  </a>
	</div>
	<ion-content class="has-header">
		<ui-view name="patientsContent"></ui-view>
	</ion-content>
</ion-view>