<ion-view class="pane-main has-header has-status-bar">
	<status-bar class="bar bar-status bar-top"></status-bar>
	<div network-status class="tabs tabs-top tabs-icon-top tabs-positive">
	  <a ui-sref="patients.directory" ui-sref-active="active" class="tab-item">
	    <i class="icon ion-ios-people"></i>
	    Home
	  </a>
	  <a ui-sref="patients.messages" class="tab-item">
	    <i class="icon ion-chatboxes"></i>
	    Messages
	  </a>
	  <a sync-handler class="tab-item">
	    <i class="icon ion-loop"></i>
	    Sync
	  </a>
	  <a ui-sref="logout" class="tab-item">
	  	<i class="icon ion-log-out"></i>
	  	Logout
	  </a>
	</div>
	<ui-view name="patientsContent"></ui-view>
</ion-view>