<ion-view class="pane-main">
	<div network-status class="tabs bar-header tabs-top tabs-icon-top tabs-positive">
	  <a ui-sref="patients.directory" ui-sref-active="active" class="tab-item">
	    <i class="icon ion-ios-people"></i>
	    Home
	  </a>
	  <a ui-sref="patients.messages" class="tab-item">
	    <i class="icon ion-chatboxes"></i>
	    Messages
	  </a>
	  <a sync-handler class="tab-item">
	    <i ng-if="!syncActive" class="icon ion-loop"></i>
	    <i ng-if="syncActive" class="icon ion-load-c"></i>
	    Sync
	  </a>
	  <a ui-sref="logout" class="tab-item">
	  	<i class="icon ion-log-out"></i>
	  	Logout
	  </a>
	</div>
	<ion-nav-view class="has-header" name="patientsContent"></ion-nav-view>
</ion-view>