<ion-view view-title="Add Vitals" ng-controller="VitalsCtrl as vitals">
  <ion-content>
    <div class="row">
      <div class="col">
        <ion-list>
          <a class="item" ng-click="vitals.showForm('height')" >Height</a>
          <a class="item" ng-click="vitals.showForm('weight')" >Weight</a>
          <a class="item" ng-click="vitals.showForm('temprature')" >Temprature</a>
          <a class="item" ng-click="vitals.showForm('blood-pressure')" >Blood Pressure</a>
        </ion-list>
      </div>
      <div class="col">
        <vitals-form type="vitals.type" record="vitals.current" on-save="vitals.saveRecord(record)" />
      </div>
    </div>
  </ion-content>
</ion-view>
