<input type="hidden" ng-model="record.type" value="blood-pressure" />
<div class="card list">
  <div class="item item-divider">Blood Pressure</div>
  <label class="item item-input">
    <span class="input-label">BP Systolic</span>
    <input type="number" ng-model="record.bpSystolic" />
    <p class="input-hint">BP Systolic should be between 70-300</p>
  </label>
  <label class="item item-input">
    <span class="input-label">BP Diastolic</span>
    <input type="number" ng-model="record.bpDiastolic" />
    <p class="input-hint">BP Diastolic should be between 50-150</p>
  </label>
</div>
<button ng-click="vitals.saveRecord(record)" class="button button-block" >Save</button>