<ion-view view-title="auth module">
  <ion-content>
    <div class="list card" ng-controller="LoginCtrl">
      <div class="item item-divider">
        Login
      </div>
      <div ng-if="error" class="item bar bar-assertive">
        {{error}}
      </div>
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="text" ng-model="username">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="password">
      </label>
      <div class="item">
        <button class="button button-block" ng-click="login()">Login</button>
      </div>
    </div>
  </ion-content>
</ion-view>
